name: CI - Analisis Estatico Java
on:
  push:
    branches: [ "master" ] 
  pull_request:
    branches: [ "master" ] 
jobs:
  build-and-analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4
      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "11"
      - name: Compilar y ejecutar análisis estático
        # Este comando ejecuta Maven, el cual llama a Checkstyle
        run: mvn -B clean verify